<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seat Confirmation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!-- Link to jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <form>
      <br />
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>Satabdi Express #1234</h1>
            <h3>Seat Confirmation</h3>
            <br />
            <div class="row">
              <div class="col-sm-4">
                <h5>
                  <span class="badge badge-danger">&nbsp;&nbsp;</span>
                  Not Available
                </h5>
              </div>
              <div class="col-sm-4">
                <h5>
                  <span class="badge badge-primary">&nbsp;&nbsp;</span>
                  Available
                </h5>
              </div>
              <div class="col-sm-4">
                <h5>
                  <span class="badge badge-success">&nbsp;&nbsp;</span>
                  Booked
                </h5>
              </div>
            </div>
            <br />
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <center>
                          <h4>Seats</h4>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        LB1
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        UB1
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SLB1
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SUB1
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        LB2
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        UB2
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SLB2
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SUB2
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        LB3
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        UB3
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SLB3
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SUB3
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        LB4
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        UB4
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SLB4
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SUB4
                      </button>
                    </center>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        LB5
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        UB5
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SLB5
                      </button>
                    </center>
                  </div>
                  <div class="col-sm-3">
                    <center>
                      <button type="button" class="btn btn-primary seat-btn">
                        SUB5
                      </button>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <br />
            <div class="row">
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>3A</h1>
                      <h6>5 / 25</h6>
                      <h6><b>Rs. 3000</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>2A</h1>
                      <h6>6 / 25</h6>
                      <h6><b>Rs. 2000</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>1A</h1>
                      <h6>10 / 25</h6>
                      <h6><b>Rs. 1000</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card1">
                  <div class="card-body1">
                    <center>
                      <h6>CLASS</h6>
                      <h1>SL</h1>
                      <h6>4 / 25</h6>
                      <h6><b>Rs. 500</b></h6>
                      <button class="btn btn-primary">Book Now</button>
                    </center>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <h5>
              <span class="badge badge-danger">LB</span>
              Lower Berth
            </h5>
            <h5>
              <span class="badge badge-danger">UB</span>
              Upper Berth
            </h5>
            <h5>
              <span class="badge badge-danger">SLB</span>
              Side Lower Berth
            </h5>
            <h5>
              <span class="badge badge-danger">SUB</span>
              Side Upper Berth
            </h5>
            <br />
          </div>
        </div>
      </div>
      <center>
        <button
          type="submit"
          class="btn"
          style="background-color: black; color: white"
          id="book-ticket-btn"
        >
          Click Here to Passenger Enter Details
        </button>
      </center>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function createTicket(selectedClass, bookedSeatsByClass) {
        $.get(
          `http://localhost:8080/api/create-ticket?pnr=123&trainId=123&paymentMethod=netbanking&amount=2500&passengerEmail=r.rahul.developer@gmail.com&passengerMobileNumber=8002030975`
        );
      }

      $(document).ready(function () {
        var bookedSeatsByClass = {
          "3A": [],
          "2A": [],
          "1A": [],
          SL: [],
        };
        var selectedClass = null;

        function updateSeatDisplay() {
          $(".seat-btn").css("background-color", ""); // Reset all seats to default color
          if (selectedClass && bookedSeatsByClass[selectedClass]) {
            bookedSeatsByClass[selectedClass].forEach(function (seatId) {
              $(".seat-btn")
                .filter(function () {
                  return $(this).text().trim() === seatId;
                })
                .css("background-color", "green");
            });
          }
        }

        $(".seat-btn").click(function () {
          if (!selectedClass) {
            alert("Please select a class first!");
            return;
          }

          var seatId = $(this).text().trim();

          if ($(this).css("background-color") === "rgb(0, 128, 0)") {
            $(this).css("background-color", ""); // Reset to default color
            var index = bookedSeatsByClass[selectedClass].indexOf(seatId);
            if (index !== -1) {
              bookedSeatsByClass[selectedClass].splice(index, 1);
            }
          } else {
            $(this).css("background-color", "green");
            if (!bookedSeatsByClass[selectedClass].includes(seatId)) {
              bookedSeatsByClass[selectedClass].push(seatId);
            }
          }

          console.log("Booked Seats for all classes:", bookedSeatsByClass);
        });

        $(".card1 .btn-primary").click(function (e) {
          e.preventDefault();

          $(".card1 .btn-primary").css("background-color", ""); // Reset all class buttons
          $(this).css("background-color", "green"); // Highlight selected class button

          selectedClass = $(this).closest(".card-body1").find("h1").text();
          console.log("Selected Class:", selectedClass);

          updateSeatDisplay();
        });

        $("#book-ticket-btn").click(function (e) {
          e.preventDefault();
          if (
            !selectedClass ||
            bookedSeatsByClass[selectedClass].length === 0
          ) {
            alert(
              "Please select a class and at least one seat before booking."
            );
            return;
          }
          const searchParams = new URLSearchParams(window.location.search);
          const trainId = searchParams.get("train_number");
          const queryParams = new URLSearchParams({
            trainId: trainId,
            bookedSeatsByClass: JSON.stringify(bookedSeatsByClass),
            selectedClass: selectedClass,
          });
          window.location.href = `/passanger-details?${queryParams}`;
        });

        // Initialize with no class selected
        updateSeatDisplay();
      });

      function createTicket(selectedClass, bookedSeatsByClass) {
        $.get(
          `http://localhost:8080/api/create-ticket?pnr=123&trainId=123&paymentMethod=netbanking&amount=2500&passengerEmail=r.rahul.developer@gmail.com&passengerMobileNumber=8002030975`
        );
      }

      function clearCache() {
        const cacheTrainNumber = localStorage.getItem("train_number");
        if (cacheTrainNumber) {
          localStorage.removeItem("train_number");
        }
      }

      clearCache();
    </script>
  </body>
</html>
