<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Train</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>Delete Train</h1>
          </center>
          <form action="admin-dashboard-page.html">
            <div class="form-group">
              <label for="trainName">Train Number:</label>
              <input type="text" class="form-control" id="trainName" />
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              Delete Train
            </button>
          </form>
          <br />
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");

        form.addEventListener("submit", function (e) {
          e.preventDefault();
          const trainId = document.getElementById("trainName").value;

          if (trainId) {
            const query = new URLSearchParams({ trainId: trainId });
            fetch(`/api/delete-train?${query.toString()}`, {
              method: "GET",
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.status === 200) {
                  alert("Train deleted successfully");
                  window.location.href = "admin-dashboard";
                } else {
                  alert("Train not found");
                }
              })
              .catch((error) => {
                console.error("Error deleting train:", error);
                alert("Error deleting train");
              });
          } else {
            alert("Please enter train number");
          }
        });
      });
    </script>

    <!-- Go back - Go to <a href="admin-dashboard-page.html">Admin Dashboard</a> -->
  </body>
</html>
