<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Train Page</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: #2779e2;
      }
      .card {
        box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.649);
      }
    </style>
  </head>
  <body>
    <section class="vh-100" style="background-color: #2779e2;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-9">
            <h1 class="text-white mb-4" style="margin-top: 12px">Edit Train</h1>
            <div class="card" style="border-radius: 15px;">
              <div class="card-body">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-md-6 col-md-offset-3">
                    <form id="edit-train-form">
                      <div class="form-group">
                        <label for="trainId">Train ID:</label>
                        <input type="text" class="form-control" id="trainId" />
                      </div>
                      <div class="form-group">
                        <label for="trainName">Train Name:</label>
                        <input type="text" class="form-control" id="trainName" />
                      </div>
                      <div class="form-group">
                        <label for="from">From:</label>
                        <div class="dropdown">
                          <button
                            class="btn btn-default dropdown-toggle"
                            type="button"
                            id="fromDropdown"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            Select Station
                          </button>
                          <div class="dropdown-menu" aria-labelledby="fromDropdown">
                            <a class="dropdown-item fromStation" href="#">Chennai</a>
                            <a class="dropdown-item fromStation" href="#">Bangalore</a>
                            <a class="dropdown-item fromStation" href="#">Delhi</a>
                            <a class="dropdown-item fromStation" href="#">Mumbai</a>
                            <a class="dropdown-item fromStation" href="#">Kerala</a>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="to">To:</label>
                        <div class="dropdown">
                          <button
                            class="btn btn-default dropdown-toggle"
                            type="button"
                            id="toDropdown"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            Select Station
                          </button>
                          <div class="dropdown-menu" aria-labelledby="toDropdown">
                            <a class="dropdown-item toStation" href="#">Chennai</a>
                            <a class="dropdown-item toStation" href="#">Bangalore</a>
                            <a class="dropdown-item toStation" href="#">Delhi</a>
                            <a class="dropdown-item toStation" href="#">Mumbai</a>
                            <a class="dropdown-item toStation" href="#">Kerala</a>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="date">Date(DD/MM/YY):</label>
                        <input type="date" class="form-control" id="date" />
                      </div>
                      <div class="form-group">
                        <label for="time">Time (HH:MM)</label>
                        <input type="time" class="form-control" id="time" name="time" />
                      </div>
                      <br />
                      <button type="submit" class="btn btn-primary btn-block">
                        Edit Train
                      </button>
                    </form>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const trainIdInput = document.getElementById("trainId");
        const form = document.getElementById("edit-train-form");

        $(".fromStation").click(function (event) {
          event.preventDefault();
          const selectedFrom = $(this).text();
          $("#fromDropdown").text(selectedFrom);
        });

        $(".toStation").click(function (event) {
          event.preventDefault();
          const selectedTo = $(this).text();
          $("#toDropdown").text(selectedTo);
        });

        function fetchTrainDetails(trainId) {
          fetch(`/api/search-train-by-id?trainId=${trainId}`)
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              if (data) {
                const train = data;
                document.getElementById("trainName").value = train.trainName;
                document.getElementById("trainId").value = train.trainNumber;
                $("#fromDropdown").text(train.source);
                $("#toDropdown").text(train.destination);
                document.getElementById("date").value = train.date
                  .split("-")
                  .reverse()
                  .join("-");
                document.getElementById("time").value = train.time
                  ? train.time
                  : "00:00";
              } else {
                alert("Train not found");
              }
            })
            .catch((error) =>
              console.error("Error fetching train details:", error)
            );
        }

        form.addEventListener("submit", function (e) {
          e.preventDefault();

          const trainId = trainIdInput.value;
          const trainName = document.getElementById("trainName").value;
          const from = $("#fromDropdown").text().trim();
          const to = $("#toDropdown").text().trim();
          const date = document
            .getElementById("date")
            .value.split("-")
            .reverse()
            .join("-");
          const time = document.getElementById("time").value;

          const queryParams = new URLSearchParams({
            trainNumber: trainId,
            trainName: trainName,
            source: from,
            destination: to,
            date: date,
            time: time,
          });

          fetch(`/api/edit-train?${queryParams.toString()}`, {
            method: "GET",
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              if (data.status == 200) {
                alert("Train details updated successfully");
                window.location.href = "admin-dashboard";
              } else {
                alert("Error updating train details");
              }
            })
            .catch((error) =>
              console.error("Error updating train details:", error)
            );
        });

        const urlParams = new URLSearchParams(window.location.search);
        const trainId = urlParams.get("trainId");
        if (trainId) {
          trainIdInput.value = trainId;
          fetchTrainDetails(trainId);
        }
      });
    </script>
  </body>
</html>