<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>Reset Password</h1>
            <br />
            <br />
          </center>
          <form id="resetPasswordForm">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Enter Email ID"
                required
              />
              <div class="input-group-btn">
                <button
                  class="btn btn-primary"
                  type="button"
                  id="sendOtpButton"
                >
                  Send OTP
                </button>
              </div>
            </div>
            <br />
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="otp"
                placeholder="Enter OTP"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Reset Password
            </button>
          </form>
          <br />
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("sendOtpButton")
        .addEventListener("click", function () {
          const email = document.getElementById("email").value;

          if (email) {
            const url = `/api/send-otp?email=${encodeURIComponent(email)}`;

            fetch(url, {
              method: "GET",
            })
              .then((response) => {
                if (response.ok) {
                  alert("OTP sent to your email.");
                } else {
                  alert("Failed to send OTP. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while sending OTP.");
              });
          } else {
            alert("Please enter a valid email address.");
          }
        });

      document
        .getElementById("resetPasswordForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          const email = document.getElementById("email").value;
          const otp = document.getElementById("otp").value;

          if (email && otp) {
            const url = `/api/verify-otp?email=${encodeURIComponent(
              email
            )}&otp=${encodeURIComponent(otp)}`;

            fetch(url, {
              method: "GET",
            })
              .then((response) => {
                if (response.ok) {
                  alert("Verified Successfully");
                  window.location.href = `reset-password?email=${email}`; // Redirect to the reset password page
                } else {
                  alert("Failed to verify OTP. Please try again.");
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                alert("An error occurred while verifying OTP.");
              });
          } else {
            alert("Please enter the OTP.");
          }
        });
    </script>

     
  </body>
</html>
