<!DOCTYPE html>
<html lang="en">
<head>
  <title>Train Booking App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>  
    .jumbotron {
      margin-bottom: 0px;
      margin-top: 0px; 
    }
    .footer {
      background-color: #f1f1f1;
      padding: 25px;
    }
    #intro-example {
      height: 600px;
      margin-top: 0px;
    }
    .main {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .btn {       
      font-size: 30px;
    }
    .navbar{
        margin-bottom: 0px;
    }
    #myNavbar {
      font-size: 32px;
      margin-bottom: 0px;
    }
    #nav-head {
      font-size: 36px;
    }
    
    .footer-section {
      display: flex;      
      justify-content: space-between;
      padding: 20px;
      text-align: center;
    }
    .footer-section .col {
      flex: 1;
      padding: 10px 20px; 
    }
    .footer-section h6 {
      margin-bottom: 20px; 
    }
    .footer-section p, .footer-section a {
      margin-bottom: 10px; 
    }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to Online Movie Booking Application</h1>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#" id="nav-head">MovieBooking</a>
    </div>
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Services</a></li>    
      </ul>
    </div>
  </div>
</nav>

<!-- Body Section  -->
<div
id="intro-example"
class="p-5 text-center bg-image"
style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); background-repeat:no-repeat; background-size: cover; margin-top: 0px;"
>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a th:href="@{admin-login}">        
            <button type="button" class="btn btn-primary">Admin</button>
          </a>
        </div>
        <div class="col-md-4">
          <a th:href="@{user-login}"> 
            <button type="button" class="btn btn-success">User</button>
          </a>
        </div>
        <div class="col-md-4">
          <a th:href="@{search-movie}"> 
            <button type="button" class="btn btn-warning">Ticket (Search)</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>

<!-- Footer -->
<footer class="text-center text-lg-start text-muted" style="background-color: #000 ;padding:10px; color: #fff; font-size: 18px; ">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="border-color: rgba(255, 255, 255, 0.1);">
    
    <div >
      <a href="#" class="me-4 text-reset" style="color: #fff;">
        <i class="fab fa-facebook-f"></i> &nbsp;&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#" class="me-4 text-reset" style="color: #fff;">
        <i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#" class="me-4 text-reset" style="color: #fff;">
        <i class="fab fa-google"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#" class="me-4 text-reset" style="color: #fff;">
        <i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#" class="me-4 text-reset" style="color: #fff;">
        <i class="fab fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
      <a href="#" class="me-4 text-reset" style="color: #fff;">
        <i class="fab fa-github"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
    </div>
  </section>

  <section class="footer-section">
    <div class="container text-center text-md-start mt-5 gap-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 col">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 col">
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">Laravel</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 col">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset" style="color: #fff;">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 col">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/" style="color: #fff;">MDBootstrap.com</a>
  </div>
</footer>

</body>
</html>