<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Train Ticket Booking Web Application</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <center>
      <h1>Welcome to Train Booking Application</h1>
      <br />
      <br />
      <img
        src="https://t3.ftcdn.net/jpg/05/46/78/44/360_F_546784433_7ckfA3F8nqq3fjxMF8ujZXJVAESb1FnC.jpg"
        alt="pray-icon"
      />
      <br />
      <br />
      <br />
      <div>
        <a th:href="@{admin-login}">
          <button type="button" class="btn btn-primary">Admin</button>
        </a>
        <!-- <a href="user-login-page.html"> -->
        <a th:href="@{user-login}">
          <button type="button" class="btn btn-success">User</button>
        </a>
        <a th:href="@{search-train}">
          <button type="button" class="btn btn-warning">Ticket (Search)</button>
        </a>
      </div>
    </center>

    <!-- Admin Login - Go to <a href="admin-login-page.html">Admin Login</a><br />

    User Login - Go to <a href="user-login-page.html">User Login</a><br />

    Ticket Search - Go to <a href="ticket-search.html">Ticket Search</a> -->
  </body>
</html>
