<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passanger Details Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>Passenger Details</h1>
          </center>
          <form action="#">
            <div class="form-group">
              <label for="email">Email ID:</label>
              <input type="text" class="form-control" id="email" />
            </div>
            <div class="form-group">
              <label for="mobile-number">Mobile Number:</label>
              <input type="text" class="form-control" id="mobile-number" />
            </div>
            <div id="passenger-details-container">
              <!-- Passenger details will be dynamically inserted here -->
            </div>
            <div class="form-group">
              <input
                type="button"
                class="btn"
                value="+ Add Passanger"
                onclick="insertPassengerComponent()"
              />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                Yes, and I accept the above details entered are correct
              </label>
            </div>
            <br />
            <button
              type="button"
              class="btn btn-primary btn-block"
              onclick="getPassengerDetails()"
            >
              Proceed Payment
            </button>
          </form>
          <br />
        </div>
      </div>
    </div>

    <script>
      let passengerCount = 1;

      const passangers = [];

      function insertPassengerComponent() {
        const passengerComponent = document.createElement("div");
        passengerComponent.innerHTML = `
            <div id="#passenger-details">
              <hr />
              <h4>Passenger Details (${passengerCount})</h4>
              <div class="form-group">
                <label for="passenger-name">Passenger Name:</label>
                <input type="text" class="form-control" id="passenger-name" />
              </div>
              <div class="form-group">
                <label for="age">Age:</label>
                <input type="text" class="form-control" id="age" />
              </div>
              <!-- Can u add equal space between each of button -->
              <div class="form-group">
                <label for="gender-group">Gender</label>
                <div id="gender-group">
                  <label class="radio-inline">
                    <input type="radio" name="male" id="male" checked />
                    Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="female" />
                    Female
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="transgender" />
                    Transgender
                  </label>
                </div>
              </div>
            </div>`;
        const passengerDetailsContainer = document.querySelector(
          "#passenger-details-container"
        );
        passengerDetailsContainer.appendChild(passengerComponent);
        passangers.push(passengerComponent);
        passengerCount++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const bookedSeatsByClass = JSON.parse(
          urlParams.get("bookedSeatsByClass")
        );
        const selectedClass = urlParams.get("selectedClass");
        bookedSeatsByClass[selectedClass].forEach((seat) => {
          insertPassengerComponent();
        });
      });

      function getPassengerDetails() {
        const passengerDetails = [];
        passangers.forEach((passenger) => {
          const passengerName =
            passenger.querySelector("#passenger-name").value;
          const age = passenger.querySelector("#age").value;
          const gender = passenger.querySelector("#gender-group").value;
          passengerDetails.push({
            passengerName,
            age,
            gender,
          });
        });
        console.log(passengerDetails);
        return passengerDetails;
      }
    </script>

    <!-- Payment - Go to <a href="payment-page.html">Payment Page</a><br /> -->
  </body>
</html>
