<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; font-src 'self' https: data:; script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/;"
    />
    <title>Passenger Details</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h2>Passenger Details</h2>
      <div id="class-summary"></div>
      <form id="passenger-form">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" required />
        </div>
        <div class="form-group">
          <label for="mobile-number">Mobile Number:</label>
          <input type="tel" class="form-control" id="mobile-number" required />
        </div>
        <div id="passenger-details-container"></div>
        <button type="button" class="btn btn-primary" onclick="handleSubmit()">
          Submit
        </button>
      </form>
    </div>

    <script>
      let passengerCount = 1;
      const passengers = [];

      function insertPassengerComponent(classType) {
        const passengerComponent = document.createElement("div");
        passengerComponent.innerHTML = `
                <div class="passenger-details" data-class="${classType}">
                    <hr />
                    <h4>Passenger Details (${passengerCount}) - Class ${classType}</h4>
                    <div class="form-group">
                        <label for="passenger-name-${passengerCount}">Passenger Name:</label>
                        <input type="text" class="form-control" id="passenger-name-${passengerCount}" required />
                    </div>
                    <div class="form-group">
                        <label for="age-${passengerCount}">Age:</label>
                        <input type="number" class="form-control" id="age-${passengerCount}" required />
                    </div>
                    <div class="form-group">
                        <label for="gender-group-${passengerCount}">Gender</label>
                        <div id="gender-group-${passengerCount}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender-${passengerCount}" id="male-${passengerCount}" value="male" checked>
                                <label class="form-check-label" for="male-${passengerCount}">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender-${passengerCount}" id="female-${passengerCount}" value="female">
                            <label class="form-check-label" for="female-${passengerCount}">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender-${passengerCount}" id="transgender-${passengerCount}" value="transgender">
                            <label class="form-check-label" for="transgender-${passengerCount}">Transgender</label>
                        </div>
                    </div>
                </div>
            </div>`;
        const passengerDetailsContainer = document.querySelector(
          "#passenger-details-container"
        );
        passengerDetailsContainer.appendChild(passengerComponent);
        passengers.push(passengerComponent);
        passengerCount++;
      }

      document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const bookedSeatsByClass = JSON.parse(
          decodeURIComponent(urlParams.get("bookedSeatsByClass"))
        );

        let classSummary = "<ul>";
        Object.entries(bookedSeatsByClass).forEach(([classType, seats]) => {
          if (seats.length > 0) {
            classSummary += `
              <li>
                Class ${classType}: ${seats.length} passenger(s)
              </li>
            `;
            seats.forEach(() => {
              insertPassengerComponent(classType);
            });
          }
        });
        classSummary += "</ul>";
        document.getElementById("class-summary").innerHTML = classSummary;
      });

      function getPassengerDetails() {
        const passengerDetails = [];
        passengers.forEach((passenger, index) => {
          const passengerName = passenger.querySelector(
            `#passenger-name-${index + 1}`
          ).value;
          const age = passenger.querySelector(`#age-${index + 1}`).value;
          const gender = passenger.querySelector(
            `input[name="gender-${index + 1}"]:checked`
          ).value;
          const classType =
            passenger.querySelector(".passenger-details").dataset.class;

          passengerDetails.push({
            passengerName,
            age,
            gender,
            classType,
          });
        });
        console.log(passengerDetails);
        return passengerDetails;
      }

      function handleSubmit() {
        const email = document.getElementById("email").value;
        const mobileNumber = document.getElementById("mobile-number").value;
        const passengerDetails = getPassengerDetails();
        const searchParams = new URLSearchParams(window.location.search);
        const bookedSeatsByClass = searchParams.get("bookedSeatsByClass");
        const trainId = searchParams.get("trainId");

        const queryString = $.param({
          trainId: trainId,
          email: email,
          mobileNumber: mobileNumber,
          passengerDetails: JSON.stringify(passengerDetails),
          bookedSeatsByClass: bookedSeatsByClass,
        });
        window.location.href = `payment?${queryString}`;
      }
    </script>
  </body>
</html>
