<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>Reset Password</h1>
            <br />
            <br />
          </center>
          <form id="resetPasswordForm">
            <div class="form-group">
              <label for="newPassword">New Password:</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                required
              />
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Change Password
            </button>
          </form>
          <br />

          <div
            id="successMessage"
            class="alert alert-success"
            style="display: none"
          >
            <strong>Success!</strong> Password changed successfully.
          </div>
        </div>
      </div>
    </div>

    <script>
      document
        .getElementById("resetPasswordForm")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          const newPassword = document.getElementById("newPassword").value;
          const confirmPassword =
            document.getElementById("confirmPassword").value;

          if (newPassword !== confirmPassword) {
            alert("Passwords do not match.");
            return;
          }
          const urlParams = new URLSearchParams(window.location.search);
          const email = urlParams.get("email");

          fetch(
            `/api/change-password?email=${encodeURIComponent(
              email
            )}&password=${encodeURIComponent(newPassword)}`
          )
            .then((response) => response.json())
            .then((data) => {
              if (data.status == 200) {
                document.getElementById("successMessage").style.display =
                  "block";
                setTimeout(() => {
                  window.location.href = "/user-login";
                }, 2000);
              } else {
                alert("Error changing password: " + data.message);
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("An error occurred while changing the password.");
            });
        });
    </script>
  </body>
</html>
