<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>Login</h1>
          </center>
          <!-- <form action="user-dashboard-page.html"> -->
          <form
            action="#"
            th:action="@{/login}"
            th:object="${user}"
            method="post"
          >
            <div class="form-group">
              <label for="usr">Username:</label>
              <input
                type="text"
                class="form-control"
                id="usr"
                th:field="*{username}"
              />
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input
                type="password"
                class="form-control"
                id="pwd"
                th:field="*{password}"
              />
            </div>
            <div class="form-group text-right">
              <a href="forgot-password-page.html">Forgot password?</a>
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              Login
            </button>
            <div class="form-group">
              <br />
              <center>
                If new user? <br />
                <!-- <a href="user-register-page.html"> -->
                <a th:href="@{register}">
                  <button type="button" class="btn btn-link">
                    Register Here
                  </button>
                </a>
              </center>
            </div>
          </form>
          <!-- Add conditional rendering for this alert -->
          <div class="alert alert-danger" th:if="${param.error}">
            <strong>Error!</strong> Incorrect username or password
          </div>
          <br />
        </div>
      </div>
    </div>

    <!-- Register - Go to <a href="user-register-page.html">User Register Page</a
    ><br />
    Login - Go to <a href="user-dashboard-page.html">User Dashboard Page</a
    ><br />
    Forgot Password - Go to
    <a href="forgot-password-page.html">Forgot Password</a> -->
  </body>
</html>
