<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
      function logout() {
        localStorage.removeItem("aadhar");
        window.location.href = "/";
      }
    </script>
  
      <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .gradient-advanced {
            background: #a8edea;
  
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(168,237,234,0.5), rgba(254,214,227,0.5));
          
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(168,237,234,0.5), rgba(254,214,227,0.5));
            background-blend-mode: screen, color-dodge, overlay, difference, normal;
            min-height: 100%;
            padding-bottom: 50px;
        }
        .btn {
            font-size: 25px;
            margin-right: 15px;
        }
        .action-buttons {
            margin-top: 30px;
            margin-left: 15px;
        }
        .logout-btn {
            margin-top: 20px;
        }
        h1 {
            color: white;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
            margin-left: 15px;
        }
        .full-width {
            width: 100%;
            padding-right: 15px;
        }
        .left-align {
            margin-right: 20px;
        }
    </style>
    </style>
  </head>
  <body>
    <div class="gradient-advanced">
    

    <div class="container">
      <div class="pull-right">
        <br />
        <button type="button" class="btn btn-primary" onclick="logout()">
          Logout
        </button>
      </div>

      <br />
      <h1 class="mt-4">
        Good Morning, <span id="user-name"></span
        ><span style="color: lightgray"> (User Dashboard)</span>
      </h1>
      <div class="mt-4">
        <br />
        <br />
        <!-- <a href="book-ticket">
          <button type="button" class="btn btn-primary">Book Tickets</button>
        </a> -->

        <a th:href="@{search-train}">
          <button type="button" class="btn btn-primary">Search Train</button>
        </a>
        <a href="cancel-ticket">
          <button type="button" class="btn btn-primary">Cancel Ticket</button>
        </a>
        <span class="view-booked-ticket-placeholder"></span>
      </div>
    </div>

    <div class="container mt-4">
      <!-- <h2>Your Booked Tickets</h2> -->
      <div id="booked-tickets-container"></div>
    </div>
    </div>

    <script>
      function loadViewBookedTicketCache() {
        const ticketNumber = localStorage.getItem("train_number");
        const placeholder = document.querySelector(
          ".view-booked-ticket-placeholder"
        );
        if (ticketNumber) {
          placeholder.innerHTML = `
            <a href="book-ticket?train_number=${ticketNumber}">
              <button type="button" class="btn btn-primary">
                View Booked Ticket
              </button>
            </a>
          `;
        }
      }

      function createBookedTicketElement(
        trainId,
        pnr,
        passenger_name,
        train_name,
        from,
        to,
        date,
        time,
        seat_number,
        all_passengers
      ) {
        const ticketDetails = document.createElement("div");
        ticketDetails.className = "col-md-12";
        ticketDetails.style.border = "1px solid #ddd";
        ticketDetails.style.borderRadius = "5px";
        ticketDetails.style.padding = "15px";
        ticketDetails.style.marginBottom = "20px";

        let passengerDropdownItems = all_passengers
          .map(
            (passenger) => `
            <li>
              <a class="dropdown-item" href="#">
                ${passenger}
              </a>
            </li>
          `
          )
          .join("");
        ticketDetails.innerHTML = `
          <h3>Booked Ticket <small class="text-muted">PNR: ${pnr}</small></h3>
          <div class="row">
            <div class="col-xs-6">
              <small>Passenger Name:</small>
              <p class="lead"><strong>${passenger_name}</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <small>Train:</small>
              <p class="lead"><strong>${train_name}</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <small>From:</small>
              <p><strong>${from}</strong></p>
            </div>
            <div class="col-xs-6">
              <small>To:</small>
              <p><strong>${to}</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <small>Date:</small>
              <p>${date}</p>
            </div>
            <div class="col-xs-3">
              <small>Time:</small>
              <p><strong>${time}</strong></p>
            </div>
            <div class="col-xs-3">
              <small>Seat:</small>
              <p class="text-primary" style="font-size: 18px"><strong>${seat_number}</strong></p>
            </div>
            <div class="col-xs-3">
              <small>PNR:</small>
              <p class="text-success" style="font-size: 18px"><strong>${pnr}</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a href="view-booked-detail?pnr=${pnr}">
                <button type="button" class="btn btn-primary">
                  View Booked Ticket
                </button>
              </a>
              <a href="book-ticket?train_number=${trainId}">
                <button type="button" class="btn btn-default">
                  Book More
                </button>
              </a>
            </div>
            <div class="col-xs-6 text-right">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="passengerDropdown_${pnr}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ticket Booked by: ${passenger_name}
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="passengerDropdown_${pnr}">
                  ${passengerDropdownItems}
                </ul>
              </div>
            </div>
          </div>
        `;

        return ticketDetails;
      }

      function displayBookedTicket(
        trainId,
        pnr,
        passenger_name,
        train_name,
        from,
        to,
        date,
        time,
        seat_number,
        all_passengers
      ) {
        const container = document.getElementById("booked-tickets-container");
        const ticketElement = createBookedTicketElement(
          trainId,
          pnr,
          passenger_name,
          train_name,
          from,
          to,
          date,
          time,
          seat_number,
          all_passengers
        );
        container.appendChild(ticketElement);
      }

      function generatePNR() {
        return Math.floor(1000000000 + Math.random() * 9000000000).toString();
      }

      const EMAIL = "r.rahul.developer@gmail.com";

      async function fetchUserData(aadhar) {
        const endpoint = `/api/get-user-by-aadhar?aadhar=${aadhar}`;
        const response = await fetch(endpoint).then((response) =>
          response.json()
        );
        return response;
      }

      async function fetchTicketData(email) {
        const endpoint = `/api/get-all-user-ticket?email=${email}`;
        const response = await fetch(endpoint).then((response) =>
          response.json()
        );
        return response;
      }

      async function fetchTrainData(trainId) {
        const endpoint = `/api/all-trains`;
        const response = await fetch(endpoint).then((response) =>
          response.json()
        );
        for (const train of response) {
          if (train.trainNumber == trainId) return train;
        }
        return -1;
      }

      async function fetchUserTicketData(pnr) {
        const endpoint = `api/get-user-ticket?pnr=${pnr}`;
        const response = await fetch(endpoint).then((response) =>
          response.json()
        );
        return response;
      }

      async function updateBookedTicketsDisplay() {
        const usernameComponent = document.getElementById("user-name");
        // const searchParams = new URLSearchParams(window.location.search);
        // const aadhar = searchParams.get("aadhar");
        const aadhar = localStorage.getItem("aadhar");

        const user = await fetchUserData(aadhar);
        usernameComponent.innerText = user.username;

        const tickets = await fetchTicketData(user.email);

        console.log(tickets);

        tickets.forEach(async (ticket) => {
          const pnr = ticket.pnr;
          const trainId = ticket.trainId;
          const train = await fetchTrainData(trainId);
          const users = await fetchUserTicketData(pnr);

          console.log(trainId);

          const adminUser = users[0]?.name;
          const trainName = train.trainName;
          console.log(trainName);
          const from = train.source;
          const to = train.destination;
          const date = train.date;
          const time = train.time;
          const seats = [];
          users.forEach((user) => seats.push(user.seatNumber));
          const usernames = [];
          users.forEach((user) => usernames.push(user.name));
          displayBookedTicket(
            trainId,
            pnr,
            adminUser,
            trainName,
            from,
            to,
            date,
            time,
            seats,
            usernames
          );
        });

        const container = document.getElementById("booked-tickets-container");
        container.innerHTML = ""; // Clear previous content
        // displayBookedTicket(
        //   generatePNR(),
        //   "Rahul",
        //   "Rajdhani Express",
        //   "Delhi",
        //   "Mumbai",
        //   "2024-07-21",
        //   "16:45",
        //   "B12",
        //   ["Rahul", "Sahil", "Sam"]
        // );
        // fetchTickets();
      }

      document.addEventListener("DOMContentLoaded", () => {
        updateBookedTicketsDisplay();
        loadViewBookedTicketCache();
      });
    </script>
  </body>
</html>
